<?php
$this->form->setAttribute('id', 'calculator-form');
//$this->form->setAttribute('action', $this->url('application', ['action' => 'post']));
?>
<article class="jumbotron">
    <div class="panel panel-default">
        <div class="panel-heading">Emoji Calculator</div>
        <div class="panel-body">
            <div class="result"></div>
            <?php echo $this->form($form); ?>
        </div>
    </div>
</article>

<style>

</style>